<div class="row">
  <div class="col-md-2">
    <app-sidebar-usr></app-sidebar-usr>
  </div>
  <div class="col-md-10">
    <img src="../../../assets/img-utgn-gim.jpg" alt="a" style="width: 100%; height: 100%; padding: 5px;">
  </div>
  <h2 class="noticias-heading">Noticias</h2>
  <div class="video-player-container">
    <div id="video-container" class="video-player" #videoContainer></div>
  </div>  
  <div class="col-md-10">  
    <div class="video-list justify-content-end">
      <div *ngFor="let video of videos" class="video-item" (click)="playVideo(video.id.videoId)">
        <img [src]="'https://img.youtube.com/vi/' + video.id.videoId + '/hqdefault.jpg'" alt="Video Thumbnail">
        <div class="video-info">
          <h3>{{ video.snippet.title }}</h3>
          <p>{{ video.snippet.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
