<div class="row">
    <div class="col-md-2">
        <app-sidebar-lec></app-sidebar-lec>
    </div>
    <div class="col-md-10 cont">
        <style>
            input {
                font-family: Arial, FontAwesome
            }
        </style>

        <div class="log">
            <form #loginForm="ngForm">
                <h1>Iniciar Sesión</h1>

                <div class="mb-3 mt-3">
                    <input 
                    name="usr" 
                    type="text" 
                    class="form-control" 
                    placeholder="&#xf007;   Usuario"
                    
                    id="basic-url">
                </div>

                <div class="mb-3">
                    <input 
                    name="pwd" 
                    type="password" 
                    class="form-control" 
                    placeholder="&#xf084;   Contraseña"
                    
                    id="basic-url">
                </div>

                <button type="submit" class="btn btn-secondary" (click)="valLog(loginForm); formReset(loginForm)">Login</button>

                <p>Al iniciar, aceptas nuestras Condiciones de uso y Politica de privacidad.</p>
            </form>
        </div>

    </div>
</div>